.tui-screen-full {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

html, body {
    width: 100%;
    height: 100%;
}

fieldset {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    display: flex;
    align-items: center;
    gap: 15px;
}